<div id = 'divWeatherMain'>
    <div *ngIf="WeatherData.isDay" class="weatherWidgetRow">
        <fa-icon [icon]="faSun" class="sun" id="sun"></fa-icon>
    </div>   
    <div *ngIf="!WeatherData.isDay" class="weatherWidgetRow">
        <fa-icon [icon]="faMoon" class="moon" id="moon"></fa-icon>
    </div>   
    <div class="weatherWidgetRow cloudDiv">
        <fa-icon [icon]="faCloud" class="cloud" id="cloud"></fa-icon>
    </div>
    
    
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">{{WeatherData.temp_celcius}}°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">{{WeatherData.temp_min}}° / {{WeatherData.temp_max}}°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Feels Like: {{WeatherData.temp_feels_like}}°</div>
    <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">{{WeatherData.name}}</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: {{WeatherData.main.humidity}}%</div>
   
</div>

